
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Makes width easier to control */
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: #fffcf7;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container:nth-child(1) {
    background-color: #fffcf7;
    position: fixed;
    top:0;
}

.navbar{
    width: 100%;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbar .logo{
    width: 150px;
}

.nav-links {
    width: 30%;
    max-width: 160px;
    min-width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    width: 40px;
    height: 40px;
    background-color: #2aa220;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.nav-icon:hover {
    background-color: #0f9103;
}

.nav-icon img {
    width: 43%;
}

.banner{
    width: 100%;
    height: 471px;
    background-color: #086a00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    margin-top: 90px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 17% center;
}

/*--- this i optimized the mobile width for the banner min - 320px-576px ---*/ 


.category-section{
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.category-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.category-controls{
    display: flex;
    gap: 10px;
    align-items: center;
}

.category-controls button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.category-controls button:hover{
    background-color: #f1f1f1;
}

.category-scroll-wrapper{
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.category-wrapper{
    width: 100%;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    box-sizing: border-box;
    padding: 30px 80px;
}

.category-card{
    width: 200px;
    height: 300px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #000;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 30px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.category-card .category-img{
    width: 50%;
}