
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Makes width easier to control */
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: #fffcf7;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.heading-box{
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.heading-box h2{
    color:#086a00;
    text-align: center;
}

.heading-box p{
    text-align: center;
    margin: 10px 0;
}

.nav-container {
    width: 100%;
    background-color: #fffcf7;
    position: fixed;
    top:0;
    z-index: 1000;
    box-shadow: 0px 3px 10px rgba(8, 106, 0, 0.15);
}

.navbar{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbar .logo{
    width: 150px;
}

.nav-links {
    width: 30%;
    max-width: 160px;
    min-width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    width: 40px;
    height: 40px;
    background-color: #2aa220;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.nav-icon:hover {
    background-color: #0f9103;
}

.nav-icon img {
    width: 43%;
}

.banner{
    width: 100%;
    height: 471px;
    background-color: #086a00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    margin-top: 90px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 17% center;
}

/*--- this i optimized the mobile width for the banner min - 320px-576px ---*/ 

.category-section{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.category-heading-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.category-controls{
    display: flex;
    gap: 10px;
    align-items: center;
}

.category-controls button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.category-controls button img{
    width: 70%;
}

.category-controls button:hover{
    background-color: #f1f1f1;
}

.category-scroll-wrapper{
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.category-wrapper{
    width: 100%;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    box-sizing: border-box;
    padding: 30px 80px;
}

.category-card{
    width: 200px;
    height: 300px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #000;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 30px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.category-card .category-img{
    width: 50%;
}

/*--products section--*/

.product-section{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.product-section-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

/* pc-links starts */
.pc-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 10px 0;
    gap: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.pc-links-wrapper{
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.pc-links{
    width: 100%;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    box-sizing: border-box;
}

.pc-links li{
    list-style: none;
    display:block;
}

.pc-links li a{
    width: max-content;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding:10px 20px;
}

.pc-links li a:active, .pc-links li a:hover{
    color: #2aa220;
    background-color: #d6fcd2;
}

.pc-controls{
    display: flex;
    gap: 10px;
    align-items: center;
}

.pc-controls button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.pc-controls button img{
    width: 70%;
}
/* pc-links ends */

.product-scroll-wrapper{
    height:560px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #2aa220;
    padding: 10px 0;
}

.product-wrapper{
    max-width: 700px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: yellow;
    padding: 10px 0;
}

.product-card{
    min-width: 100px;
    max-width: 270px;
    box-sizing: border-box;
    border-radius: 10px;
}

.product-card .product-img-box{
    width: 100%;
    height: 270px;
    background-color: #b05a5a;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
}

.product-badge{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fce9e3;
    color: #d14011;
    padding: 7px 15px;
    border-radius: 25px;
    font-size: 0.8em;
    font-weight: 600;    
}

.product-emotion{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: url(images/i-heart-ouline.svg);
    background-size: 17px;
    background-position: center;
    background-repeat: no-repeat;
}   

.product-card .product-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card .p-content{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.product-card .p-content .p-name{
    grid-column: 1/9;
    text-align: left;
    display: flex;
    align-items: start;
}

.p-name h4{
    margin: 0;
    padding: 0;
    color: #086a00;
}

.p-name .p-rating{
    margin-left: 3px;
    padding: 0;
    color: #c28927;
    font-size: 0.6em;
    font-weight: 800;
}

.product-card .p-content .p-price{
    width: max-content;
    grid-column-end: 13;
    text-align: center;
    background-color: #fce9e3;
    color: #d14011;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    border-radius: 10px;
    height: 24px;
    padding: 0 20px;
}

.product-card .p-content p{
    padding:0;
    margin: 0;
    grid-column: 1/8;
    color: #000;
    text-align: left;
    font-size: 0.7em;
    font-weight: 500;
}

.product-card .p-content .p-btn{
    grid-column: 9/13;
    text-align: center;
    align-self: end;
    background-color: #086a00;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    border-radius: 8px;
    border: none;
    height: 24px;
    cursor: pointer;
}
/*--product section ends--*/

/*-- naurishment section starts--*/
.naurish-section{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.naurish-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.naurish-section img{
    grid-column: span 12;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.naurish-btn{
    margin: 20px auto;
    width: max-content;
    height: max-content;
    color: #086a00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    border-radius: 8px;
    border: 1px solid #086a00;
    cursor: pointer;
    padding: 10px 20px;
    background-color: transparent;
}
/*-- naurishment section completes--*/

/*-- blog section starts--*/
.blog-container {
    background-color: #e8f9e6;
    width: 100%
}

.blog-section{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-scroll-wrapper{
    height:560px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: skyblue;
}

.blog-wrapper{
    max-width: 1400px;
    height: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-card{
    grid-column: span 3;
    width: 100%;
    min-width: 200px;
    max-width: 270px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #25751c;
    border-radius: 10px;
    overflow: hidden;
}


.product-card{
    min-width: 100px;
    max-width: 270px;
    box-sizing: border-box;
    border-radius: 10px;
}













.blog-card .blog-image-box{
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.blog-card .blog-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card .blog-content{
    width: 100%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    color: #fffcf7;
    gap: 10px;
}

.blog-card .blog-content p{
    font-size: 0.8em;
    font-weight: 600;
}

.blog-card .blog-content .about-blogger{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-content .about-blogger .blogger-img{
    border-radius: 50%;
    overflow: hidden;
    background-color: pink;
    width: 50px;
    height: 50px;
}

.blog-content .about-blogger .bloginfo{
    text-align: left;
    font-style: italic;
    font-weight: 200;
}

.read-blog-btn{
    margin: 10px auto;
    width: max-content;
    height: max-content;
    color: #fffcf7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    border-radius: 8px;
    border: 1px solid #fffcf7;
    cursor: pointer;
    padding: 10px 20px;
    background-color: transparent;
}

.explore-blogs{
    font-size: 1.2em;
    margin: 20px 0 0;
    color:#424242;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.blogs{}

/*-- blog section completes--*/